main {
  padding: 3rem 1rem 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.container {
  display: grid;
  gap: 1.5rem;
  background-color: var(--container-background);
  border-radius: 1.25rem;
  padding: 2rem;
  max-width: 23.4375rem;
}

@media screen and (min-width: 48em) {
  main {
    padding: 2rem 1rem 1rem;
  }

  section {
    gap: 5rem;
  }

  .container {
    max-width: 48rem;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
