<form action="#">
  <div>
    <h3>Bill</h3>
    <input type="number" aria-label="Bill" class="bigger" />
  </div>
  <div>
    <h3>Select Tip %</h3>
    <input type="radio" name="one" /><label for="one">5%</label><br />
    <input type="radio" name="two" /><label for="two">10%</label><br />
    <input type="radio" name="three" /><label for="three">15%</label><br />
    <input type="radio" name="four" /><label for="four">25%</label><br />
    <input type="radio" name="five" /><label for="five">50%</label><br />
    <input type="number" placeholder="Custom" />
  </div>
  <div>
    <h3>Number of People</h3>
    <input type="number" aria-label="Number of People" class="bigger" />
  </div>
</form>
