<div>
  <h3>Bill</h3>
  <input
    type="number"
    aria-label="Bill"
    class="bigger"
    [(ngModel)]="bill.value"
  />
</div>
<div>
  <h3>Select Tip %</h3>
  <div *ngFor="let defaultTip of defaultTips">
    <input
      type="radio"
      name="tipValue"
      [value]="defaultTip"
      [(ngModel)]="tip.value"
      #radio
    />
    {{ defaultTip }}
  </div>
  <!-- custom value -->
  <input
    type="number"
    placeholder="Custom"
    (input)="setCustomTip(customTip)"
    (click)="disableRadioStatus()"
    #customTip
  />
</div>
<div>
  <h3>Number of People</h3>
  <p *ngIf="isZero">Can't be zero</p>
  <input
    type="number"
    aria-label="Number of People"
    class="bigger"
    [(ngModel)]="numOfPeople.value"
    min="1"
    #inputPeople
    (input)="checkIfIsZero(inputPeople)"
  />
</div>
