.container__bill {
  display: grid;
  gap: 2rem;
  font-size: 0.875rem;
}

h3 {
  margin-bottom: 0.5rem;
}

.container__bill article h3 {
  margin-bottom: 1rem;
}

div,
input {
  color: var(--primary-font-color);
}

input {
  border: none;
  border-radius: 0.3125rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"]:not([placeholder="Custom"]) {
  font-size: 1.5rem;
  width: 100%;
  text-align: end;
  padding: 0.4rem 1rem;
}

input[aria-label="Bill"] {
  background: url("../../assets/icon-dollar.svg") no-repeat;
  background-position: 1rem;
}

input[aria-label="Number of People"] {
  background: url("../../assets/icon-person.svg") no-repeat;
  background-position: 1rem;
}

input[type="number"] {
  background-color: var(--input-background);
}

.container__all-tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container__button-tip {
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: var(--neutral-white);
  border-radius: 0.3125rem;
  height: 2.5rem;
  width: 100%;
}

.container__radio {
  font-size: 1.5rem;
}

.container__radio label {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container__radio label input[type="radio"] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.3125rem;
}

.container__radio label span {
  z-index: 1;
}

.container__radio label input[type="radio"]:checked {
  background-color: var(--accent-color);
}

.container__radio label input[type="radio"]:checked + span {
  color: var(--primary-font-color);
}

input[placeholder="Custom"] {
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
}

input[placeholder="Custom"]::placeholder {
  text-align: center;
}

input[placeholder="Custom"]:focus {
  text-align: end;
}

footer {
  margin-bottom: 0.5rem;
}
