:root {
  /* colors */
  --primary-color: hsl(183, 100%, 15%);
  --accent-color: hsl(172, 67%, 45%);
  --neutral-white: hsl(0, 0%, 100%);

  --background: hsl(185, 41%, 84%);
  --container-background: var(--neutral-white);
  --input-background: hsl(189, 41%, 97%);
  --results-background: var(--primary-color);
  --bill-font-color: hsl(186, 14%, 43%);
  --results-font-color: var(--neutral-white);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Space Mono", monospace;
  background-color: var(--background);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
