.container__result {
  padding: 2.25rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--results-background);
  color: var(--results-font-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container__justify {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 0.875rem;
  color: var(--accent-color);
}

.container__money {
  font-size: 2rem;
}

button {
  background-color: var(--accent-color);
  color: var(--results-background);
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  padding: 0.875rem;
  margin-top: 0.5rem;
}
